.main-landing-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-landing-page-items {
  display: flex;
  height: 100%;
  width: 100%;

  flex-direction: row;
}

.item {
  height: 80%;
  width: 100%;
  border: 1px solid black;
  margin: 20px;
}
