.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  color: #01BAEF;
}

/* .navbar h1 {
  
  align-content: flex-start;
  letter-spacing: 1px;
  text-decoration: none;
} */

.navbar-title {
  margin-left: 10%;
  align-content: flex-start;
  letter-spacing: 1px;
  color:#01BAEF;
  text-decoration: none;
}
  
.navbar-links{
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  
}

.navbar-links a{
  color: white;
  margin-right: 50px;
  text-decoration: none;
}

.navbar-links a:hover {
  color: #cccccc;
 
}

.lightbulb {
  display: none;
  font-size: 50px;
  color:#01BAEF;
  font-size: 3rem;
  visibility: visible;
  flex-shrink: 0;
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {
  .navbar h1 {
    display: none;
  }
  .lightbulb {
    display:initial;
  }

}



