.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  color: #01BAEF;
}

.navbar h1 {
  padding-left: 10%;
  align-content: flex-start;
}
  
.navbar-links{
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  
}

.navbar-links a{
  color: white;
  padding-right: 50px;
  text-decoration: none;
}

.navbar-links a:hover {
  color: #FBFBFF;
}

.lightbulb {
  font-size: 50px;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .navbar h1 {
    display: none;
  }
  .lightbulb {
    color:#01BAEF;
    font-size: 3rem;
    visibility: visible;
    flex-shrink: 0;
    margin-left: 50px;
  }

}



