.react-calendar {
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  width: 400px;
  height: auto;
  margin: 100px;
}

/* .calendar {
  margin: 100px;
  border: none;
} */

.landing-page-container-home {
  display: flex;
  height: 90vh;
}

.react-icons {
  border-radius: 15px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 8px 14px;
  vertical-align: middle;
  font-size: 4rem;
  color: rgb(48, 75, 75);
  background-color: rgb(191, 207, 207);
  /* height: 90vh; */
}

.landing-page-user-info-container {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  margin: 100px;
  height: 400px;
  width: 400px;

  border-radius: 8px;
}

.user-info-name {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;

  padding: 10px;
  background-color: rgb(191, 207, 207);
  box-shadow: 0px 0px 0px 0px;
}
