.business-found-wrapper {
  display: flex;
  /* min-height: 100vh;
    align-items: stretch; */
  width: 100%;
  flex-direction: column;
}

.business-navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 12px 0px;
}
