@media only screen and (max-width: 600px) {
  .business-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.business-found-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: #fbfbff;
  color: #040f16;
}

.business-found-company-name {
  margin-top: 50px;
  padding-left: 20px;
  display: flex;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.business-found,
.about,
.contact,
.schedule {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
}

.business-navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 20px 0px;
  background-color: #040f16;
}

.business-navbar > * {
  width: 200px;
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background: #01baef;
  border-radius: 20px;
  border: none;
  transition: 0.3s;
}

.business-navbar > *:hover {
  background: #0b4f6c;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  transform: scale(1.07);
}

.business-found-owner {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: 50px 0px;
}

.profile-picture {
  width: 300px;
  clip-path: circle();
}

.profile-name {
  margin-top: 10px;
  font-size: larger;
}

/* SCHEDULE SECTION */

.calender-days-times {
  display: flex;
  border: 1px solid black;
  padding: 8px;
  font-size: 18px;
  background-color: gray;
  margin-bottom: 6px;
  transition: 0.2s;
  cursor: pointer;
  justify-content: center;
  width: 100%;
}

.calender-availability {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
}

.calender-days-times:hover {
  transform: scale(1.06);
  background-color: dodgerblue;
  color: aliceblue;
}

.calender-days-times-clicked {
  width: 100%;
  display: flex;
  border: 1px solid black;
  padding: 8px;
  font-size: 18px;
  background-color: dodgerblue;
  margin-bottom: 6px;
  transform: scale(1.06);
  color: aliceblue;
  justify-content: center;
}

.confirm-page {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
  margin-top: 20px;
}
.confirm-page > p {
  padding: 0px;
}

.confirm-date-button {
  margin: 40px 0px;
  padding: 14px;
  border: 0px;
  width: 50%;
  color: rgb(0, 0, 0);
  background-color: rgb(191, 207, 207);
}

.confirm-date-back-button {
  margin: 40px 0px;
  padding: 14px;
  border: 0px;
  width: 50%;
  color: rgb(0, 0, 0);
  background-color: rgb(191, 207, 207);
}

.confirm-date-confirm-button {
  margin: 40px 0px;
  padding: 14px;
  border: 0px;
  width: 50%;
  color: rgb(0, 0, 0);
  background-color: rgb(104, 203, 165);
}

.confirm-page-name-input {
  margin-top: 20px;
  padding: 12px 8px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  border: 0px;
  width: 100%;
  outline: none;
  height: 30px;
}

.confirm-page-submit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* REVIEW SECTION */

.review-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: auto;
  font-weight: 200;
}

.review-box-rating {
  padding: 6px;
}

.review-box-commenter {
  padding: 12px;
  font-size: medium;
  font-weight: 300;
}

/* ABOUT SECTION */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about > p {
  padding: 12px;
  font-size: medium;
  font-weight: 400;
}

.about-form {
  width: 75%;
  align-items: center;
}

/* FOOTER SECTION */

.footer {
  display: flex;
  height: 75px;
  width: 100%;
  background: #0b4f6c;
  align-items: center;
  color: #ffffff;
  font-style: italic;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer > *:hover {
  color: rgb(189, 189, 189);
}
