.business-found-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(#a08c8c, #5b5f81);
}

.business-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.business-navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px 0px;
}

.business-found-company-name {
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.business-navbar > * {
  width: 10%;
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  padding: 10px;
  background: #4f618563;
  border-radius: 20px;
  border: none;
  transition: 0.3s;
}

.business-navbar > *:hover {
  background: rgb(1, 25, 48);
  cursor: pointer;
  transition: 0.2s;
  color: white;
  transform: scale(1.07);
}

.business-found-owner {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin-top: 50px;
}

.profile-picture {
  /* height: 550px; */
  width: 300px;
  clip-path: circle();
}

.profile-name {
  /* align-self: flex-end; */
  margin-top: 10px;
  font-size: larger;
}

.calender-days-times {
  border: 1px solid black;
  padding: 8px;
  font-size: 18px;
  background-color: gray;
  margin-bottom: 6px;
  transition: 0.2s;
}

.calender-days-times:hover {
  transform: scale(1.06);
  background-color: dodgerblue;
  color: aliceblue;
}
