.create-form-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(184, 78, 78);
  text-align: center;
}

.login-signin {
  height: auto;
  width: 100%;
}


.create-form-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
