.navbar {
  display: flex;
  width: 100%;
  /* align-items: center; */
}

.navbar h1 {
  padding-left: 10%;
  margin: auto;
  align-content: flex-start;
  width: 50%;
}

.navbar-links{
  /* align-items: center; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.navbar-links a{
  font-size: 28px;
  color: white;
  padding-right: 100px;
  text-decoration: none;
}



