/* EVERYTHING AFTER SIGNING IN AS AN OWNER */

.react-calendar {
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  width: 700px;
  height: auto;
  margin-top: 50px;
}

/**************** SIDEBAR ****************/

.sidebar {
  justify-content: space-between;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 55px 14px 0px 14px;
  align-items: flex-start;
  font-size: 18px;
  color: rgb(194, 194, 194);
  background-color: #040F16;
  width: 140px;
  /* height: 100%; */
}

.sidebar-nav > li {
  padding-bottom: 30px;
  cursor: pointer;
}

.sidebar-logout{

  cursor: pointer;
}

.sidebar-nav > li:hover,
.sidebar-logout:hover {
  color: rgb(255, 255, 255);
}

.sidebar-warning {
  margin-top: 30px;
  font-size: 30px;
  display: flex;
  color: red;
}

.sidebar lower {
  color:#01BAEF;
  font-size: 3rem;
}

/* ************************************ */
.landing-page-wrapper {
  display: flex;
  width: 100%;
  /* height: auto; */

}


.options-container{
  padding: 40px;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.603);
  overflow: auto;  /* Adding overflow here doesnt scroll sidebar when options container has a lot of content */
}

  

.landing-page-container-home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.con {
  overflow: auto; /* Adding overflow here doesnt scroll sidebar when options container has a lot of content */
  display: flex;
  width: 100%; 
  flex: 1 0 500px;
}

.landing-page-user-info-container {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  height: 400px;
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
}

.landing-page-user-info-container > p {
  padding: 6px;
}

.landing-page-user-info-website {
  margin-top: 2rem;
  /* margin-top: 20px; */
  max-width: 350px;
}

.user-info-name {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  padding: 10px;
  background-color: rgb(191, 207, 207);
  box-shadow: 0px 0px 0px 0px;
}

/**************** ADDRESS INFO ****************/

.address-flex-container {
  display: flex;
  flex-direction: row;
}

.address-container {
  margin: 70px;
}

.address-h4 {
  padding-left: 50px;
}

.address {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.add-address {
  padding-top: 25px;
}

.address-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  margin-bottom: 18px;
  height: auto;
  width: 300px;
  background-color: white;
  border-radius: 8px;
  padding: 8px 0px;
}

/* ************************************ */

.delete {
  font-size: 24px;
  color: red;
  display: flex;
}

.owner-warning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* width: auto; */
  align-self: center;
  align-items: center;
  font-size: 24px;
}

.owner-warning-trash-icon {
  margin-top: 40px;
  font-size: 60px;
  color: rgb(255, 0, 0);
  cursor: pointer;
}

/**************** OWNER REVIEW LIST ****************/

.owner-review-list {
  max-width: 400px;
}

.owner-review-response {
  padding: 12px 8px;
  margin: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  border: 0px;
  outline: none;
  width: 100%;
}

.owner-review-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: auto;
  font-weight: 200;
  border-bottom: 2px solid black;
}

.owner-review-response-message {
  font-weight: 100;
  font-style: italic;
}
/* ************************************ */

@media only screen and (max-width: 600px) {
  .landing-page-container-home {
    flex-direction: column-reverse;
  }
  .sidebar{
    display: none;
  }

}