/* EVERYTHING AFTER SIGNING IN AS AN OWNER */

.react-calendar {
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  width: 400px;
  height: auto;
  margin: 100px;
}

.landing-page-wrapper {
  display: flex;
  width: 100%;
  height: auto;
}

.landing-page-container-home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.603);
}

.sidebar {
  justify-content: space-between;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 8px 14px;
  align-items: flex-start;
  font-size: 18px;
  color: rgb(194, 194, 194);
  background-color: rgb(36, 0, 153);
  /* min-height: 100vh; */
  width: 150px;
}

.sidebar-nav > li,
.sidebar-logout {
  padding-bottom: 30px;
  cursor: pointer;
}

.sidebar-nav > li:hover,
.sidebar-logout:hover {
  color: white;
}

/* .sidebar-logout {
  padding-bottom: 50px;
} */

.landing-page-user-info-container {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  margin: 100px;
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 8px;
}

.landing-page-user-info-container > p {
  padding: 6px;
}

.user-info-name {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  padding: 10px;
  background-color: rgb(191, 207, 207);
  box-shadow: 0px 0px 0px 0px;
}

/* ADDRESS INFO */

.address-flex-container {
  display: flex;
  flex-direction: row;
}

.address-container {
  margin: 70px;
}

.address-h4 {
  padding-left: 50px;
}

.address {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.add-address {
  padding-top: 25px;
}

.address-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
  margin-bottom: 18px;
  height: auto;
  width: 300px;
  background-color: white;
  border-radius: 8px;
  padding: 8px 0px;
}

.delete {
  font-size: 24px;
  color: red;
}
